div {
  margin: 40px;
}

.main{
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.post-data{
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}